<!DOCTYPE html>
<html>
<head>
  <title>Oasis</title>
  <%= include_gon %>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.1.6/basscss.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  <script>
  $(document).ready(function(){
  	function getLocation(){
  		if (navigator.geolocation){
  		  navigator.geolocation.getCurrentPosition(showPosition)
  		}
  	}
  	function showPosition(position){
  		var longlat = "";
  		longlat += position.coords.latitude+", ";
  		longlat += position.coords.longitude;
  		console.log(longlat);
  		document.cookie="longlat= "+longlat
  		console.log(document.cookie)
  	}

  	getLocation();

  })
  </script>
</head>
<body>
<header class="clearfix">
<nav class="primary_nav mxn1 left">
	<%= link_to('Home', root_path, :class => 'button button-transparent') %>
	<%= link_to('Create Event', new_event_path, 
	 :class => 'button button-transparent') %>
	<%= link_to('View Categories', categories_path, :class => 'button button-transparent') %>
	<%= link_to('Create Category', new_category_path, :class => 'button button-transparent')%>
	<%= link_to('View Locations', locations_path, :class => 'button button-transparent') %>
	<%= link_to('Create Location', new_location_path, :class => 'button button-transparent') %>
</nav>
<nav class="login right">
	<ul class="list-reset">
		<%== login %>
	</ul>
</nav>
</header>
<%== timeline_auth %>
<%= yield %>

</body>
</html>
